.coffi::before {
    content: '\2615';
    font-size: 1.5em;
    padding-right: .5em;
}

.bwyti::before {
    content: '\1F374';
    font-size: 1.5em;
    padding-right: .5em;
}

.tafarn::before {
    content: '\1F37A';
    font-size: 1.5em;
    padding-right: .5em;
}

.llywodraeth::before {
    content: '\1F3DB';
    font-size: 1.5em;
    padding-right: .5em;
}