
.img-card {
    width: 15rem;
}

.card-delete-btn {
    bottom: 1em;
    left: calc(50% - 3em);
    position: absolute;
    width: 6em;
    z-index: 1;
}

/* google maps */
#map {
    height: 30em;
    width: 30em;
}