.gwasanaethau-logo {
    background-color: #FFFFFF;
    font: 18px sans-serif;
    font-weight: 600;
    padding: 1em;
    text-shadow: 0.1em 0.1em 0.1em #444444;
    height: 18em;
    width: 18em;
}

.logo-square {
    background-color: #DD2233;
    box-shadow: 0.1em 0.1em 0.1em #888888;
    float: left;
    height: 11em;
    width: 11em;
}

.gwasanaethau-text {
    color: #FFFFFF;
    float: right;
    padding-top: 9em;
    padding-right: 0.5em;
}

.cymraeg-text {
    color: #DD2233;
    padding-left: 0.5em;
    padding-top: 9em;
    float: left;
}